.entry-form {
	max-width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&-input-box {
		margin-bottom: 0.5rem;
		padding: 0.5rem 0.75rem;
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		gap: 0.75rem;
		grid-gap: 0.75rem;
		border: 1px solid rgba($color-gray-light, 0.5);
		border-radius: 0.25rem;
		overflow: hidden;

		&-wrap {
			display: grid;
			grid-template-columns: max-content max-content 1fr;
			gap: 0.4rem;
			grid-gap: 0.4rem;
		}

		.entry-form-control {
			display: flex;
			flex-direction: column;
			border: none;
			outline: none;

			label,
			legend {
				font-size: $font-sm;
				color: $color-gray;
			}

			input,
			select {
				height: 2.5rem;
				padding: 0.5rem 0.75rem;
				font-weight: bold;
				color: $color-black;
				border: 2px solid $color-white-light;
				outline: none;
				background-color: $color-white-light;
				border-radius: 5px;
				cursor: pointer;

				&:active,
				&:focus {
					outline: none;
					border-color: $color-black;
				}
			}
		}

		.entry-form-name,
		.entry-form-category {
			width: 100%;
		}

		.entry-form-type {
			&-options {
				display: grid;
				grid-template-rows: 1fr 1fr;
				gap: 0.2rem;
				grid-gap: 0.2rem;

				&-item {
					display: flex;
					align-items: center;

					input {
						height: unset;
						margin-right: 0.15rem;
					}
				}
			}
		}
	}

	::placeholder {
		color: $color-black;
	}
}
