.entry-form {
	max-width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&-input-box {
		margin-bottom: 0.5rem;
		padding: 0.5rem 0.75rem;
		border: 1px solid rgba($color-gray-light, 0.5);
		border-radius: 0.25rem;
		overflow: hidden;

		&-wrap {
			display: flex;
			align-items: center;
		}

		.entry-form-control {
			display: flex;
			flex-direction: column;

			label {
				font-size: $font-sm;
				color: $color-gray;
			}

			input,
			select {
				height: 2.5rem;
				padding: 0.5rem 0.75rem;
				font-weight: bold;
				color: $color-black;
				border: 2px solid $color-white-light;
				outline: none;
				background-color: $color-white-light;
				border-radius: 5px;
				cursor: pointer;

				&:active,
				&:focus {
					outline: none;
					border-color: $color-black;
				}
			}
		}

		.entry-form-name,
		.entry-form-category {
			width: 100%;
		}

		.entry-form-name {
			margin-bottom: 0.5rem;
		}

		.entry-form-amount {
			margin-left: 0.4rem;
		}

		.entry-form-category {
			margin-top: 0.5rem;
		}
	}

	::placeholder {
		color: $color-black;
	}
}
