.expenses-list-item {
	margin-top: 0.4rem;
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;

	&-header {
		.expenses-list-item-category-shape {
			width: $font-xl;
			height: $font-xl;
			border-width: 5px;
			border-style: solid;
			border-radius: 5px;
			background-color: currentColor;

			&-icon {
				height: 100%;
				width: 100%;
				background-color: $color-white;
			}
		}
	}

	&-body {
		padding-left: 0.5rem;
		padding-right: 0.5rem;

		.expenses-list-item-amount {
			font-size: $font-lg;
			font-weight: bold;
		}
	}

	&-footer {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		.expenses-list-item-time {
			color: $color-gray-dark;
			font-size: $font-sm;
			font-weight: lighter;
			font-style: italic;
		}

		.expenses-list-item-category-title {
			color: $color-gray-dark;
			font-size: $font-sm;
			font-weight: bold;
			text-decoration: underline;
		}
	}
}
