.expense-form {
	max-width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	legend {
		justify-self: start;
		font-size: 0.85em;
		font-weight: bold;
		color: $color-gray-dark;
	}

	.input-box {
		margin-bottom: 0.5rem;
		padding: 0.25rem 0.75rem;
		display: flex;
		align-items: center;
		background-color: $color-white;
		border: 1px solid $color-gray-dark;
		border-radius: 0.25rem;
		overflow: hidden;

		.prefix {
			margin-right: 0.15rem;
			font-weight: 300;
			color: $color-gray-dark;
		}

		input,
		select {
			padding: 0.5rem 0.75rem;
			font-weight: bold;
			color: $color-black;
			border: none;
			outline: none;
			background-color: inherit;
			border-radius: 5px;
			cursor: pointer;

			&:active,
			&:focus {
				background-color: $color-white-light;
				outline: none;
				border: none;
				border-width: none;
			}
		}

		input {
			flex-grow: 1;
			color: $color-black;
		}
	}
}
