*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	min-height: 100vh;
	font-family: $font-face;
	color: $color-black;
	background-color: $color-white;
	scroll-behavior: smooth;
}

body {
	min-height: 100%;
	width: 100%;
}

#appRoot {
	display: grid;
	grid-template-rows: repeat(auto-fill, auto);
	justify-content: center;
	grid-gap: 1rem;
	gap: 1rem;
}

#viewsRoot {
	padding: 0.75rem 1.75rem;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(2, max-content);
	gap: 1.75rem;
	grid-gap: 1.75rem;

	.view {
		color: $color-gray-dark;
		font-weight: 500;
		cursor: pointer;
	}

	.view-active {
		color: $color-black;
		font-weight: 800;
		cursor: not-allowed !important;
	}
}
