@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

$font-face: "Open Sans", sans-serif;
$font-sm: 14px;
$font-md: 17px;
$font-lg: 22px;
$font-xl: 32px;

$color-white: #f7f7f9;
$color-white-light: #e8e8ed;
$color-black: #232529;
$color-gray-light: #7a808e;
$color-gray: #9ca3ae;
$color-gray-dark: #67686a;
